<!DOCTYPE html>
<html lang="en">
  
  <%- include('./partials/head.ejs', {style:'estilo2.css', title:"Game Store"}) %>

  <body>
    <header class="header">
      <nav class="header-top">
        <img src="/img/logo.png" alt="logo" />
        <div>
          <a link href="/login">Ingresar</a>
          <a link href="/register">Registrarse</a>
        </div>
      </nav>
      <nav class="header-bottom">
        <ul>
          <li>Nuevos</li>
          <li>Más vendidos</li>
          <li>Ranking</li>
          <li>Consolas</li>
          <li>Free To Play</li>
        </ul>
      </nav>
    </header>
    <main>

      <div class="container">
        
        <% games.forEach(game => { %>
          
          <section class="card">
          <a  href="/games/detail/<%= game.id %>" >
              <h3 class="card-title"><%= game.title %></h3>
              <img class="card-img" src="<%= game.thumbnail %>"/>
              <p class="card-platform"><%= game.platform %></p>
            </a>
          </section>

        <% }) %>
        
      </div>
      
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
