<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', {style:'create.css', title:"New Product"}) %>

  <body>
    <%- include('../partials/header.ejs') %>
    <main class="d-flex justify-content-center align-items-center br-1">

      <div class="container rounded">
        
        <div class="card" style="width: 18rem;">
          <img src="<%= game.thumbnail %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= game.title %></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

      </div>
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
